/* SVG ANIMATION */

/* 
--------------------------------------------------------------
Hamburger icon
--------------------------------------------------------------
 */
#recB {
  transition: all 0.5s ease;
}

#recM {
  transition: all 0.7s ease;
}

#recT {
  transition: all 0.9s ease;
}

svg:hover #recM,
svg:hover #recT,
svg:hover #recB {
  fill: rgba(248, 113, 113, 04);
}

.vHam {
  transform: translate(100%, 0%) rotate(90deg);
  fill: black;
}

:root {
  --dark-color: #635bff;
  --light-color: #80e9ff;
}

/* Up Arrow */
#dark {
  fill: var(--dark-color);
}

#light {
  fill: var(--light-color);
}

#tDark1,
#tDark2,
#tLight {
  transition: all 1s ease;
}

#tDark2 {
  transform: translateY(100%);
}

svg:hover #tLight {
  transform: translateY(-20%);
}
svg:hover #tDark1 {
  transform: translateY(-40%);
  opacity: 0;
}
svg:hover #tDark2 {
  transform: translateY(0%);
}
