@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf");
  font-style: normal;
  weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("/fontsPoppins-Bold.ttf");
  font-style: bold;
  weight: 700;
}

@font-face {
  font-family: "Poppins";
  src: url("/fontsPoppins-Black.ttf");
  font-style: black;
  weight: 900;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Thin.ttf");
  font-style: thin;
  weight: 100;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
